body {
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
}

table {
text-align: left;
position: relative;
left: 480px;
}

h1 {
color: #66BFBF;
font-size: 5.625rem;
font-family: 'Sacramento', cursive;
margin-top: 50px auto 0 auto;

}

h2 {
color: #66BFBF;
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
font-weight: normal;
}

h3 {
color: #11999E;
font-family: 'Montserrat', sans-serif;

}

.top-container {
color: #11999E;
background-color: #E4F9F5;
position: relative;
padding-top: 100px;
font-size: 2rem;
}

.middle-container {

}

.bottom-container {
}

.profile-img{

margin-top: 30px;
width: 15%;
}
.code-img{
display: block;
float: left;
margin-left: 10px;
margin-right: 20px;
margin-top: 80px;
width: 35%;
}

.chilli-img{
display: block;
float: right;
margin-left: 30px;
margin-right: 80px;
margin-top: 40px;
width: 35%;

}

.work-img{


margin-left: 200px;
margin-right: 50px;
margin-top: 50px;
width: 50%;

}

.tabela{
text: center
}

.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
line-height: 2;
}
.pro {
text-decoration: underline;
}

.top-cloud{
position: absolute;
right: 300px;
top: 50px;
}
.bottom-cloud{
position: absolute;
left: 300px;
bottom: 300px;
}